// Color variables
$background-light: #ffffff;
$foreground-light: #171717;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;

// Font variables
$font-sans: Arial, Helvetica, sans-serif;
$font-mono: 'Fira Mono', 'Menlo', 'Monaco', monospace;